<!DOCTYPE html>
<html>
    <head>
        <title>Carga de archivos</title>
    </head>
    <body>
      
        <form action="/carga" enctype="multipart/form-data" method="POST">
            <input type="text" value="Nombre">
            <input type="file" name="" id="Archivo">
            <input type="submit" name="" id="Sube archivo">
        </form>
    </body>
</html>