body {
  background-color: brown;
    font: 18px "Century Gothic", Futura, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: white;
  }
  
  